/**
 * Simple flexbox grid system
 */

/* TODO: implement sane media queries for breakpoints */

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -20px;
  padding: 0;
}

.grid--centered {
  justify-content: center;
}

.grid--vbottom {
  align-items: flex-end;
}

.cell {
  flex: 1;
  padding: 20px 0 0 20px;
}

.cell--vcenter {
  align-self: center;
}

.cell--vbottom {
  align-self: flex-end;
}

.cell--full,
.cell--half,
.cell--third,
.cell--fourth {
  flex: 0 0 100%;
}

@include breakpoint($mq-small) {
  .cell--full {
    flex: 0 0 100%;
  }

  .cell--half {
    flex: 0 0 50%;
  }

  .cell--third {
    flex: 0 0 33.3333%;
  }

  .cell--fourth {
    flex: 0 0 25%;
  }
}
