/**
 * Styles for demo page purpose only
 */

.colorbox-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.colorbox {
  text-align: center;
  padding: 20px 0;
  border: 1px solid #eee;
  flex: 0 1 auto;
  min-width: 200px;

  &_primary {
    background: $color-primary;
  }
  &_primary-light {
    background: $color-primary-light;
  }
  &_primary-dark {
    background: $color-primary-dark;
  }
  &_primary-text {
    background: $color-primary-text;
    color: $color-icons;
  }
  &_accent {
    background: $color-accent;
  }
  &_secondary-text {
    background: $color-secondary-text;
  }
  &_icons {
    background: $color-icons;
  }
}
