/**
 * utilitie classes
 */

.page-wrapper {
  max-width: $page-maxwidth;
  margin: 0 auto;
  padding: 0 10px;
}

@include breakpoint($mq-big) {
  .page-wrapper {
    padding: 0;
  }
}


/**
 * Flexbox utils
 */

.flex-container {
  display: flex;

  &--start {
    justify-content: flex-start;
  }
  &--end {
    justify-content: flex-end;
  }
  &--center {
    justify-content: center;
  }
  &--between {
    justify-content: space-between;
  }
  &--around {
    justify-content: space-around;
  }
}
